
a {
    text-decoration: none;
    color: #552367;
}

#logo {
    width: 140px;
}


.header-wide {
    padding: 0 6%;
    padding-top: 50px;
    padding-bottom: 50px;
 }
 

 .flex {
     display: flex;
     flex-wrap: wrap;
 }
 

 .justify-space-between {
     justify-content: space-between;
 }
 

 .align-items-center {
     align-items: center;
 }
 

header {
    background-color:#f0ceff;
    
}


header nav { 
    width:45%;
}


nav li {
    display: inline-block;
    margin-right: 10%;
}


.li_color {
    color: #b098b8;
}


.container {
    padding: 0 12%;
 }

 .section-gap{
    display:flex;
    gap: 60px;
}

.section { 
    width: 45%;
}

#img-width {
    width: 460px;
}


.title {
    font-size: 25px;
    margin: 20px 0 25px 0; 
    padding-top: 15px;
    padding-bottom: 15px;
    color: #552367;
}


p{
    color: #36014a;
    line-height: 25px;
}


body {
    background-color: #f1e3f7;
}


footer {
    background-color:#f0ceff;
    text-align: center;
}


#icons-width {
    width: 20px;
}


.contact-container {
    text-align: center;
}


#contact-p {
    font-size: larger;
    color: #36014a;
}


#icons-contact {
    width: 50px;
}


form {
    max-width: 400px;
    margin: 0 auto;
}


  label {
    display: block;
    margin-bottom: 5px;
}


  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

  button {
    background-color:#552367;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

  #chemiyvavili {
    width: 200px;  
}
 

  ol li {
    margin-bottom: 10px;
}

  ol li::before {
    content: "\2713"; 
    margin-right: 10px;
    color: #552367;
}

  .about {
    text-align: justify;
}
